body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
#order {
    background-color: skyblue;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(100, 14, 14, 0.1);
}
#section {
    color: #333;
    text-align: center;
}
#order_col {
    margin-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
h4 {
    margin-bottom: 10px;
    color: #555;
}
input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 10px;
    width: 95%;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

